@use 'sass:math';

html {
  color: #000;
  font-family: 'Gantari', sans-serif;
  // font-size: math.div(16, 1600) * 100vh;
  font-weight: normal;
  line-height: 120%;
  scroll-behavior: smooth;
  min-height: 100%;
}

@media screen and (max-aspect-ratio: 1600/720) {
  html {
    font-size: math.div(16, 1600) * 100vw;
  }
}

@media only screen and (min-width: 1600px) and (max-aspect-ratio: 1600/720) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-height: 720px) and (min-aspect-ratio: 1600/720) {
  html {
    font-size: 16px;
  }
}

html {
  @include iflaptop {
    font-size: math.div(16, 1024) * 100vw;
  }

  @include iftablet {
    font-size: math.div(16, 768) * 100vw;
  }

  @include ifmobile {
    font-size: math.div(16, 360) * 100vw;
  }
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #fff;

  //СКРЫВАЕМ СКРОЛЛ
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  // -ms-overflow-style: none; /* IE и Edge */
  // scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //ДЛЯ ВЫЯВЛЕНИЯ ВЫЛЕЗАЮЩИХ ЗА СТРАНИЦУ БЛОКОВ
  // border: 1px solid red;
}

picture {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  // -o-object-fit: cover;
  // object-fit: cover;
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea::placeholder {
  line-height: 100%;
}
input::placeholder {
  font-weight: 200 !important;
}

//УБИРАЕМ ДЕФОЛТНЫЕ СТРЕЛОЧКИ В ИНПУТ ТИПО НОМЕР
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// ОТКЛЮЧАЕМ СТИЛИ АВТОЗАПОЛНЕНИЯ ПОЛЕЙ
input:-internal-autofill-selected,
input:-webkit-autofill {
  &:hover,
  &:focus,
  &:active {
    transition-delay: 9999s !important;
    transition-property: background-color, color !important;
  }
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #ссс;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}
