//z-index-ы
$popup: 1000;
$toast: 1001;

$white: #ffffff;
$base900light: rgba(26, 26, 26, 0.9);
$base800light: rgba(26, 26, 26, 0.8);
$base700light: rgba(26, 26, 26, 0.7);
$base600light: rgba(26, 26, 26, 0.6);
$base400light: rgba(26, 26, 26, 0.4);
$black: #1a1a1a;
$blue-main: #425eec;
$blue-light: #f5f7fe;
$blue-second: rgba(66, 94, 236, 0.15);

$speed: 0.3s;
