.Bonuses {
  margin-bottom: em(217px);
  @include iflaptop {
    margin-bottom: em(87px);
  }
  @include iftablet {
    margin-bottom: em(95px);
  }
  @include ifmobile {
    margin-bottom: em(93px);
  }

  &_Container {
    position: relative;
  }

  &_Image {
    display: none;
    position: absolute;
    top: em(75px);
    left: em(-215px);
    width: em(783px);
    height: em(768px);
    @include ifdesktop {
      display: block;
    }
  }

  &_Title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: em(220px);
    @include iflaptop {
      margin-bottom: em(160px);
    }
    @include iftablet {
      margin-bottom: em(160px);
    }
    @include ifmobile {
      margin-bottom: em(123px);
    }
  }

  &_Slider {
    display: flex;
    max-width: em(947px);
    margin-left: auto;
    position: relative;
    @include ifmobile {
      overflow: initial;
    }
    @include iflaptop {
      max-width: 100%;
    }
    @include iftablet {
      max-width: 100%;
    }
    @include ifmobile {
      max-width: 100%;
    }
    .Slide {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      border-radius: em(31px);
      border: 2px solid rgba(109, 107, 206, 0.26);
      width: em(291px);
      min-height: em(370px);
      padding: em(56px) em(28px) em(46px) em(28px);
      background: $white;
      filter: drop-shadow(2px 4px 12px rgba(31, 30, 88, 0.1));
      @include iflaptop {
        width: em(305px);
      }
      @include iftablet {
        width: em(220px);
        padding: em(44px) em(28px) em(29px) em(28px);
      }
      @include ifmobile {
        flex-shrink: initial;
        width: em(288px);
        flex-shrink: 1;
      }

      &_Background {
        position: absolute;
        top: em(-8px);
        left: em(-8px);
        overflow: visible;
      }

      &_Title {
        margin-bottom: em(22px);
        p {
          color: $text;
          text-align: center;
          font-size: em(18px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      &_ForExample {
        margin-bottom: em(22px);
        p {
          color: $text;
          text-align: center;
          font-family: Gantari;
          font-size: em(18px);
          font-style: italic;
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
        }
      }
      &_Description {
        p {
          color: $text;
          text-align: center;
          font-family: Gantari;
          font-size: em(18px);
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
        }
      }

      &:hover {
        border-color: #fb8873;
        .Slide_Title {
          p {
            background: linear-gradient(89deg, #6e6ccf 0.91%, #fb8873 93.07%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
