.Bonuses {
  margin-bottom: em(217px);
  @include iflaptop {
    margin-bottom: em(87px);
  }
  @include iftablet {
    margin-bottom: em(95px);
  }
  @include ifmobile {
    margin-bottom: em(93px);
  }

  &_Container {
    position: relative;
  }

  &_Image {
    display: none;
    position: absolute;
    top: em(75px);
    left: em(-215px);
    width: em(783px);
    height: em(768px);
    @include ifdesktop {
      display: block;
    }
  }

  &_Title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: em(220px);
    @include iflaptop {
      margin-bottom: em(160px);
    }
    @include iftablet {
      margin-bottom: em(160px);
    }
    @include ifmobile {
      margin-bottom: em(123px);
    }
  }

  &_Slider {
    display: flex;
    max-width: em(947px);
    margin-left: auto;
    position: relative;
    z-index: 1;
    @include ifmobile {
      overflow: initial;
    }
    @include iflaptop {
      max-width: 100%;
    }
    @include iftablet {
      max-width: 100%;
    }
    @include ifmobile {
      max-width: 100%;
    }
    .Slide {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      border-radius: em(31px);
      width: em(291px);
      min-height: em(370px);
      padding: em(56px) em(28px) em(46px) em(28px);
      filter: drop-shadow(2px 4px 12px rgba(31, 30, 88, 0.1));
      @include iflaptop {
        width: em(305px);
      }
      @include iftablet {
        width: em(220px);
        min-height: em(312px);
        padding: em(44px) em(10px) em(29px) em(10px);
      }
      @include ifmobile {
        flex-shrink: initial;
        width: em(268px);
        padding: em(89px) em(28px) em(39px) em(28px);
        flex-shrink: 1;
      }

      &_Title {
        position: relative;
        z-index: 2;
        margin-bottom: em(22px);

        @include iflaptop {
          min-height: 32%;
        }
        @include iftablet {
          min-height: 46%;
        }
        @include ifmobile {
          min-height: 46%;
        }
        p {
          color: transparent;
          text-align: center;
          font-size: em(18px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          background-image: linear-gradient(
            89deg,
            #1f1e58 0.91%,
            #1f1e58 93.07%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &_ForExample {
        position: relative;
        z-index: 2;
        margin-bottom: em(22px);
        p {
          color: $text;
          text-align: center;
          font-family: Gantari;
          font-size: em(18px);
          font-style: italic;
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
        }
      }

      &_Description {
        position: relative;
        z-index: 2;
        p {
          color: $text;
          text-align: center;
          font-family: Gantari;
          font-size: em(18px);
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
        }
      }

      .Background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: em(31px);
        &__Default {
          background: rgba(109, 107, 206, 0.26);
        }
        &__Gradient {
          opacity: 0;
          background: linear-gradient(345deg, #6e6ccf 0%, #fb8873 100%);
        }
        &__White {
          background: $white;
          z-index: 1;
          top: em(2px);
          left: em(2px);
          right: em(2px);
          bottom: em(2px);
          border-radius: em(29px);
        }
      }

      .Number {
        position: absolute;
        top: em(-93px);
        right: 50%;
        transform: translate(50%, 0%);
        width: em(291px);
        height: em(96px);
        @include iftablet {
          width: em(271px);
          height: em(96px);
          top: em(-84px);
        }
        @include ifmobile {
          width: em(230px);
          height: em(70px);
          top: em(-66px);
        }

        &__Gradient {
          opacity: 0;
        }
      }

      // &:hover {
      //   .Background__Gradient {
      //     opacity: 1;
      //   }
      //   .Number__Gradient {
      //     opacity: 1;
      //   }
      //   .Slide_Title {
      //     p {
      //       background: linear-gradient(89deg, #6e6ccf 0.91%, #fb8873 93.07%);
      //       background-clip: text;
      //       -webkit-background-clip: text;
      //       -webkit-text-fill-color: transparent;
      //     }
      //   }
      // }
    }
  }
}
