.HowWeWork {
  margin-bottom: em(340px);
  @include iflaptop {
    margin-bottom: em(154px);
  }
  @include iftablet {
    margin-bottom: em(78px);
  }
  @include ifmobile {
    margin-bottom: em(120px);
  }
  &_Container {
    position: relative;
    @include ifmobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &_Star {
    display: none;
    position: absolute;
    width: em(123px);
    height: em(123px);
    top: em(150px);
    right: em(13px);
    @include ifdesktop {
      display: block;
    }
  }

  &_Image {
    display: none;
    position: absolute;
    top: em(294px);
    right: em(-256px);
    width: em(720px);
    height: em(532px);
    @include ifdesktop {
      display: block;
    }
  }

  &_Title {
    text-align: center;
    margin-bottom: em(33px);
    @include ifmobile {
      padding-left: em(15px);
      padding-right: em(15px);
    }
  }

  &_Text {
    margin: 0 auto;
    text-align: center;
    max-width: em(878px);
    margin-bottom: em(100px);
    @include iflaptop {
      max-width: em(716px);
      margin-bottom: em(76px);
    }
    @include iftablet {
      margin-bottom: em(85px);
    }
    @include ifmobile {
      margin-bottom: em(50px);
      padding-left: em(15px);
      padding-right: em(15px);
    }
  }

  &_Slider {
    display: flex;
    max-width: em(946px);
    // overflow: hidden;
    position: relative;
    @include ifmobile {
      overflow: initial;
    }
    &_Wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
    }
    @include iflaptop {
      max-width: 100%;
    }
    @include iftablet {
      max-width: 100%;
    }
    @include ifmobile {
      max-width: 100%;
      padding-left: em(15px);
      padding-right: em(15px);
    }

    .Slide {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      border-radius: em(31px);
      background: #fff;
      min-height: em(370px);
      border: 2px solid rgba(109, 107, 206, 0.26);
      filter: drop-shadow(2px 4px 12px rgba(31, 30, 88, 0.1));

      width: em(291px);
      padding: em(31px) em(28px) em(46px) em(28px);
      @include iftablet {
        width: em(220px);
        padding: em(13px) em(28px) em(29px) em(28px);
      }
      @include ifmobile {
        flex-shrink: initial;
        width: em(268px);
        padding: em(13px) em(28px) em(29px) em(28px);
      }

      &_Number {
        position: relative;
        z-index: 1;
        margin-bottom: em(22px);
        @include iftablet {
          margin-bottom: em(18px);
        }
        span {
          font-size: em(78px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background: linear-gradient(348deg, #6e6ccf -2.75%, #fb8873 96.21%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include iflaptop {
          }
          @include iftablet {
          }
          @include ifmobile {
          }
        }
      }

      &_Title {
        position: relative;
        z-index: 1;
        margin-bottom: em(22px);
        @include iftablet {
          margin-bottom: em(18px);
        }
        span {
          color: $text;
          font-size: em(18px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      &_Description {
        p {
          color: $text;
          text-align: center;
          font-size: em(18px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
        }
      }

      svg {
        width: inherit;
        height: inherit;
        @extend %fullsize;
      }

      &__1,
      &__2 {
        &::after {
          background: #fff;
          border: 2px solid rgba(109, 107, 206, 0.26);
          border-right: 0;
          border-bottom: 0;
          content: '';
          height: em(40px);
          position: absolute;
          top: em(45px);
          right: em(-22px);
          transform: rotate(135deg);
          width: em(40px);
          @include iftablet {
            height: em(24px);
            right: em(-14px);
            width: em(24px);
          }
          @include ifmobile {
            height: em(30px);
            right: em(-17px);
            width: em(30px);
          }
        }
      }

      // &__3 {
      // }

      &:hover {
        border-color: rgba(251, 136, 115, 1);
        &::after {
          border-color: rgba(251, 136, 115, 1);
        }
        .Slide_Title span {
          background: linear-gradient(89deg, #6e6ccf 0.91%, #fb8873 93.07%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
