.Title {
  &_h1 {
    font-family: 'Gantari', sans-serif;
    color: $white;
    font-size: em(71px);
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    transform-style: preserve-3d;
    @include iflaptop {
      font-size: em(50px);
    }
    @include iftablet {
      font-size: em(50px);
    }
    @include ifmobile {
      font-size: em(40px);
    }
  }

  &_h2 {
    font-family: 'Gantari', sans-serif;
    color: $base900light;
    font-size: em(55px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    transform-style: preserve-3d;
    @include iflaptop {
      font-size: em(44px);
    }
    @include iftablet {
      font-size: em(32px);
    }
    @include ifmobile {
      font-size: em(22px);
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
