.BaseTextarea {
  cursor: text;
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &_Wrapper {
    position: relative;
    padding: em(12px) em(10px) em(10px) em(35px);
    transition: 0.3s ease all;
    @include ifdesktop {
      padding: em(16px) em(10px) em(15px) em(46px);
    }
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 99.7%;
      height: em(12px);
      border: 2px solid rgba(31, 30, 88, 0.1);
      transition: all $speed ease;
      border-top: none;
      border-radius: 0px 0px 50px 60px/0px 0px 30px 30px;
      @include ifdesktop {
        height: em(16px);
      }
    }

    &:hover {
      &::before,
      .Textarea {
        border-color: rgba(31, 30, 88, 0.6);
      }
    }
  }

  &_Label {
    user-select: none;
    position: absolute;
    pointer-events: none;
    top: em(8px);
    left: em(27px);
    opacity: 0.6;
    transition: all 0.3s ease;
    transform-origin: left top;
    @include ifdesktop {
      top: em(14px);
      left: em(36px);
    }

    span {
      color: $text;
      font-family: 'Gantari', sans-serif;
      font-size: em(15px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: all 0.3s ease;
      @include ifdesktop {
        font-size: em(18px);
      }
    }

    &__NoEmpty {
      transform: translate(em(0px), em(-16px)) scale(0.8);
      @include ifdesktop {
        transform: translate(em(0px), em(-24px)) scale(0.8);
      }
    }
  }

  .Textarea {
    $size: 15px;
    width: 100%;
    min-height: em(19px, $size);
    max-height: em(40px, $size);
    outline: none;
    border: none;
    position: relative;
    box-shadow: none;
    background: transparent;
    transition: $speed ease all;
    @include placeholder-color(transparent);
    resize: none;

    color: $text;
    font-family: 'Gantari', sans-serif;
    font-size: em($size);
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    scrollbar-color: #d4d3d3 transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: em(3px);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 em(6px) #d4d3d3;
      border-radius: em(100px);
    }

    &::placeholder {
      user-select: none;
    }

    &::-webkit-contacts-auto-fill-button {
      opacity: 0;
    }

    @include ifdesktop {
      $size: 18px;
      font-size: em($size);
      min-height: em(25px, $size);
      max-height: em(40px, $size);
    }
  }

  &_ErrorText {
    padding-left: em(27px);
    margin-top: em(3px);
    @include ifdesktop {
      padding-left: em(36px);
      margin-top: em(5px);
    }
    p {
      color: #c92100;
      font-family: 'Gantari', sans-serif;
      font-size: em(13px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include ifdesktop {
        font-size: em(15px);
      }
    }
  }

  &__Focus {
    .BaseTextarea_Wrapper {
      &::before,
      .Textarea {
        border-color: rgba(31, 30, 88, 0.6);
      }
    }

    .BaseTextarea_Label {
      transform: translate(em(0px), em(-16px)) scale(0.8);
      @include ifdesktop {
        transform: translate(em(0px), em(-24px)) scale(0.8);
      }
    }
  }

  &__Error {
    .BaseTextarea_Wrapper {
      &::before,
      .Textarea {
        border-color: #c92100;
      }
    }
  }

  //disabled style
  &__Disabled,
  &__Disabled:hover,
  &__Disabled:focus {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    .BaseTextarea_Label span {
      opacity: 0.6;
    }
    .BaseTextarea_Wrapper {
      .Textarea {
        opacity: 0.4;
      }
    }
  }
}
