.Expertise {
  padding: em(198px) 0 em(72px);
  @include iflaptop {
    padding: em(114px) 0 em(142px);
  }
  @include iftablet {
    padding: em(114px) 0 em(80px);
  }
  @include ifmobile {
    padding: em(150px) 0 em(60px);
  }

  &_Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_Title {
    text-align: center;
    margin-bottom: em(33px);
    span {
      background-image: linear-gradient(89deg, #6e6ccf 0.91%, #fb8873 93.07%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_Text {
    margin: 0 auto;
    text-align: center;
    max-width: em(878px);
    margin-bottom: em(14px);
    @include iflaptop {
      margin-bottom: em(76px);
    }
    @include iftablet {
      margin-bottom: em(56px);
    }
    @include ifmobile {
      margin-bottom: em(18px);
    }
  }

  &_Logo {
    width: em(445px);
    height: em(155px);
    @include ifmobile {
      width: em(218px);
      height: em(128px);
    }
  }

  &_Star {
    position: absolute;
    width: em(123px);
    height: em(123px);
    @include iftablet {
      display: none;
    }
    @include ifmobile {
      display: none;
    }

    &__1 {
      top: em(-76px);
      left: em(125px);
      width: em(123px);
      height: em(123px);
      @include iflaptop {
        top: auto;
        bottom: em(50px);
        left: em(80px);
        width: em(90px);
        height: em(90px);
      }
    }
    &__2 {
      bottom: em(-114px);
      left: 0;
      width: em(114px);
      height: em(114px);
      @include iflaptop {
        top: auto;
        bottom: em(-18px);
        left: em(156px);
        width: em(52px);
        height: em(52px);
      }
    }
    &__3 {
      top: em(129px);
      right: em(120px);
      width: em(91px);
      height: em(91px);
      @include iflaptop {
        display: none;
      }
    }
    &__4 {
      bottom: em(40px);
      right: em(32px);
      width: em(78px);
      height: em(78px);
      @include iflaptop {
        bottom: em(-80px);
        right: em(96px);
        width: em(90px);
        height: em(90px);
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
