.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Input {
  $size: 18px;
  width: 100%;
  height: em(62px, $size);
  background: none;
  outline: none;
  border: none;
  position: relative;
  box-shadow: none;
  background: #fff;
  border: 1px solid #e8e8ea;
  border-radius: em(12px, $size);
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  @include placeholder-color(transparent);
  padding: em(34px, $size) em(16px, $size) em(10px, $size) em(24px, $size);

  color: rgba(26, 26, 26, 0.9);
  font-family: 'Gantari', sans-serif;
  font-size: em($size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  &::-webkit-contacts-auto-fill-button {
    opacity: 0;
  }

  @include ifmobile {
    $size: 16px;
    height: em(52px, $size);
    border-radius: em(10px, $size);
    padding: em(27px, $size) em(16px, $size) em(6px, $size) em(16px, $size);
    font-size: em($size);
  }

  &:hover {
    border-color: #425eec;
  }

  &:focus {
    border-color: #425eec;
    @include placeholder-color(transparent);
    & + .Label {
      top: em(10px);
      left: em(25px);
      @include ifmobile {
        top: em(10px);
        left: em(17px);
      }
      span {
        font-size: em(14px);
        @include ifmobile {
          font-size: em(12px);
        }
      }
    }
  }

  & + .NoEmpty {
    top: em(10px);
    left: em(25px);
    @include ifmobile {
      top: em(10px);
      left: em(17px);
    }
    span {
      font-size: em(14px);
      @include ifmobile {
        font-size: em(12px);
      }
    }
  }

  &_Error {
    border: 1px solid #ff5f5f;
  }

  &_Password {
    padding-right: em(44px);
    @include ifmobile {
      padding-right: em(40px);
    }
  }
}

.Label {
  position: absolute;
  pointer-events: none;
  top: em(24px);
  left: em(25px);
  transition: top 0.3s ease, left 0.3s ease;

  @include ifmobile {
    top: em(18px);
    left: em(15px);
  }

  span {
    display: flex;
    color: rgba(26, 26, 26, 0.4);
    font-family: 'Gantari', sans-serif;
    font-size: em(18px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: font-size 0.3s ease;
    @include ifmobile {
      font-size: em(16px);
    }
  }
}

.Icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: em(16px);
  width: em(24px);
  height: em(24px);
  @include ifmobile {
    width: em(20px);
    height: em(20px);
  }
}

//disabled style
.Input:disabled,
.Input:disabled:hover,
.Input:disabled:focus {
  cursor: not-allowed;
  pointer-events: none;
  background: #f4f4f5;
  border: 1px solid #e5e7eb !important;
  color: rgba(26, 26, 26, 0.5);
}

@include ifmobile {
}
