.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &_Label {
    position: absolute;
    pointer-events: none;
    top: em(8px);
    left: em(27px);
    opacity: 0.6;
    transition: all 0.3s ease;
    transform-origin: left top;
    @include ifdesktop {
      top: em(14px);
      left: em(36px);
    }

    span {
      color: $text;
      font-family: 'Gantari', sans-serif;
      font-size: em(15px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: all 0.3s ease;
      @include ifdesktop {
        font-size: em(18px);
      }
    }

    &__NoEmpty {
      transform: translate(em(0px), em(-12px)) scale(0.8);
      @include ifdesktop {
        transform: translate(em(0px), em(-18px)) scale(0.8);
      }
    }
  }

  &_Wrapper {
    position: relative;
    padding: 0 em(35px);
    @include ifdesktop {
      padding: 0 em(46px);
    }
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 99%;
      height: em(12px);
      border: 2px solid rgba(31, 30, 88, 0.1);
      transition: $speed ease all;
      border-top: none;
      border-radius: 0px 0px 50px 40px/0px 0px 30px 30px;
      @include ifdesktop {
        height: em(16px);
      }
    }

    .Input {
      $size: 15px;
      width: 100%;
      height: em(45px, $size);
      padding: em(12px, $size) 0 em(10px, $size);
      outline: none;
      border: none;
      position: relative;
      box-shadow: none;
      background: transparent;
      transition: $speed ease all;
      @include placeholder-color(transparent);

      color: $text;
      font-family: 'Gantari', sans-serif;
      font-size: em($size);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @include ifdesktop {
        $size: 18px;
        height: em(60px, $size);
        padding: em(16px, $size) 0 em(15px, $size);
        font-size: em($size);
      }

      &::-webkit-contacts-auto-fill-button {
        opacity: 0;
      }
    }

    &:hover {
      &::before,
      .Input {
        border-color: rgba(31, 30, 88, 1);
      }
    }
  }

  &__Focus {
    .BaseInput_Wrapper {
      &::before,
      .Input {
        border-color: rgba(31, 30, 88, 1);
      }
    }
    .BaseInput_Label {
      transform: translate(em(0px), em(-12px)) scale(0.8);
      @include ifdesktop {
        transform: translate(em(0px), em(-18px)) scale(0.8);
      }
    }
  }

  &__Error {
    .BaseInput_Wrapper {
      &::before,
      .Input {
        border-color: $error;
      }
    }

    .BaseInput_ErrorText {
      padding-left: em(27px);
      margin-top: em(3px);
      @include ifdesktop {
        padding-left: em(36px);
        margin-top: em(5px);
      }
      p {
        color: $error;
        font-family: 'Gantari', sans-serif;
        font-size: em(13px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include ifdesktop {
          font-size: em(15px);
        }
      }
    }
  }

  &__LightTheme {
    .BaseInput_Label span {
      color: $white;
    }
    .BaseInput_Wrapper {
      &::before {
        border: 2px solid rgba(255, 255, 255, 0.6);
        border-top: none;
      }
      &:hover {
        &::before,
        .Input {
          border-color: rgba(255, 255, 255, 1);
        }
      }
      .Input {
        color: $white;
      }
    }
    &.BaseInput__Focus {
      .BaseInput_Wrapper {
        &::before,
        .Input {
          border-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  &__WithIcon {
    .BaseInput_Wrapper {
      padding-right: em(50px);
      @include ifdesktop {
        padding-right: em(70px);
      }
    }
  }
}

.Icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: em(18px);
  height: em(18px);
  right: em(26px);
  &:hover {
    path {
      stroke-opacity: 1;
    }
  }
  @include ifdesktop {
    width: em(24px);
    height: em(24px);
    right: em(36px);
  }
}

//disabled style
.Input:disabled,
.Input:disabled:hover,
.Input:disabled:focus {
  cursor: not-allowed;
  pointer-events: none;
  background: #f4f4f5;
  border: 1px solid #e5e7eb !important;
  color: rgba(26, 26, 26, 0.5);
}

@include ifdesktop {
}
