.Text {
  font-family: 'Gantari', sans-serif;
  font-style: normal;
  transform-style: preserve-3d;
  &_h1 {
    color: $white;
    font-size: em(71px);
    line-height: 115%;
    font-weight: 600;

    @include iflaptop {
      font-size: em(50px);
    }
    @include iftablet {
      font-size: em(50px);
    }
    @include ifmobile {
      font-size: em(40px);
    }
  }

  &_h2 {
    color: $text;
    font-size: em(64px);
    line-height: normal;
    font-weight: 600;

    @include iflaptop {
      font-size: em(40px);
    }
    @include iftablet {
      font-size: em(40px);
    }
    @include ifmobile {
      font-size: em(37px);
    }
  }

  &_p {
    color: $text;
    font-size: em(18px);
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    @include ifdesktop {
      font-size: em(20px);
      line-height: 160%;
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
