.Text {
  color: $base600light;
  font-family: 'Gantari', sans-serif;
  font-size: em(18px);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  transform-style: preserve-3d;
  @include iftablet {
    font-size: em(16px);
  }
  @include ifmobile {
    font-size: em(16px);
  }
}
